<form class="form form--primary" action="#" name="contact" method="post" enctype="multipart/form-data">

    <div class="form-group">

        <input class="form-control" type="text" name="fullname" size="40" maxlength="10000" value="" placeholder="ชื่อ - นามสกุล*" required>

    </div>

    <div class="form-row">

        <div class="form-group col-md-6">
            <input class="form-control" type="tel" name="telephone" size="40" maxlength="10" value="" placeholder="โทรศัพท์">

        </div>

        <div class="form-group col-md-6">

            <input class="form-control" type="email" name="email" size="40" maxlength="50" value="" placeholder="อีเมล์*" required>

        </div>

    </div>

    <div class="form-group">

        <input class="form-control" type="text" name="subject" size="40" maxlength="10000" value="" placeholder="หัวข้อ*" required>

    </div>

    <div class="form-group">

        <textarea class="form-control" name="messages" cols="40" rows="5" placeholder="รายละเอียด*" required></textarea>

    </div>

    <div class="form-group">
        <input name="privacyStatement" type="checkbox" value="1">
		<label class="pl-3">
			ฉันได้อ่านและยอมรับข้อกำหนดและเงื่อนไขที่ระบุไว้ใน <a target="_blank" href="/th/privacy-statement">นโยบายคุ้มครองข้อมูลส่วนบุคคล</a> และยินยอมให้รวบรวมประมวลผลและ / หรือเปิดเผยข้อมูลส่วนบุคคลที่ฉันให้ไว้เพื่อบรรลุวัตถุประสงค์ดังกล่าวข้างต้น
		</label>
    </div>

    <div class="text-center mt-5">
        <button type="submit" class="btn btn--primary" disabled> ส่ง </button>
    </div>

</form>

