<script>
    var cookieSetting = {
        'accept': "3d",
        'reject': "1d",
        'cookie-performance': "1"
    } 
</script>

<div id="cookie">
    <div class="cookie cookie--theme-1" :class="{ 'cookie--backdrop' : showSettings}">
        <div class="cookie-notice" :class="{ 'cookie-notice--show': showCookieBar }">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 text-lg-center">
                        <p class="mb-md-0">
                            This website uses cookies to enhance your experience and providing the best service from us.
                            Please confirm the acceptance.
                            <span class="d-xl-block">
                                You can learn more about our use of cookies from our 
                                <a class="cookie-notice__link" href="#">Cookie Policy</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="cookie-notice__button">
                <!-- <a class="cookie-notice__link" @click="reject" href="javascript:;" target="_self">Reject</a> -->
                <a class="cookie-notice__link" @click="toggleSetting" href="javascript:;" target="_self">Cookie Settings</a>
                <a class="btn btn-light" @click="accept" href="javascript:;" target="_self">Accept</a>
            </div>
        </div>

        <div class="cookie-setting" :class="{ 'cookie-setting--show' : showSettings }">
            <a class="cookie-setting__close" @click="toggleSetting" href="javascript:;" target="_self">&times;</a>
            <div class="cookie-setting__wrapper">
                <div class="cookie-setting__item cookie-setting__item--highlight">
                    <div class="cookie-setting__header">
                        <h2 class="cookie-setting__title">การตั้งค่าความเป็นส่วนตัว</h2>
                    </div>
                    <div class="cookie-setting__body">
                        ท่านสามารถเลือกตั้งค่าคุกกี้โดยเปิด/ปิดคุกกี้แต่ละประเภทได้ ยกเว้น คุกกี้ที่จำเป็น (Strictly
                        Necessary Cookies) ดังนี้
                        <a class="btn-link text-white" href="javascript:;" target="_self">ข้อมูลเพิ่มเติม</a>
                    </div>
                    <div class="cookie-setting__footer">
                        <a class="btn btn-light" @click="accept" href="javascript:;" target="_self">ยอมรับทั้งหมด</a>
                    </div>
                </div>
                <div class="cookie-setting__item">
                    <div class="cookie-setting__header">
                        <h5 class="cookie-setting__title">
                            คุกกี้ที่จำเป็น<br>(Strictly Necessary Cookies)
                        </h5>
                    </div>
                    <div class="cookie-setting__body">
                        <div class="cookie-setting__remark">เปิดใช้งานตลอดเวลา</div>
                        คุกกี้ประเภทนี้มีความจำเป็นต่อการทำงานของเว็บไซต์ เพื่อให้เว็บไซต์สามารถทำงานได้เป็นปกติ
                        มีความปลอดภัย และทำให้ท่านสามารถเข้าใช้เว็บไซต์ได้ เช่น การ log in เข้าสู่เว็บไซต์
                        การยืนยันตัวตน
                        ทั้งนี้ ท่านไม่สามารถปิดการใช้งานของคุกกี้ประเภทนี้ผ่านระบบของเว็บไซต์ของเราได้
                    </div>
                </div>
                <div class="cookie-setting__item">
                    <div class="cookie-setting__header">
                        <h5 class="cookie-setting__title">
                            คุกกี้เพื่อการวิเคราะห์<br>(Analytic Cookies)
                        </h5>
                        <div class="cookie-setting__checker">
                            <a class="cookie-button ml-auto" @click="toggleCookiePerformance" :class="{ 'cookie-button--active': enableCookiePerformance }" href="javascript:;" target="_self">
                                <span class="cookie-button__point"></span>
                            </a>
                        </div>
                    </div>
                    <div class="cookie-setting__body">
                        คุกกี้ประเภทนี้มีความจำเป็นต่อการทำงานของเว็บไซต์ เพื่อให้เว็บไซต์สามารถทำงานได้เป็นปกติ
                        มีความปลอดภัย และทำให้ท่านสามารถเข้าใช้เว็บไซต์ได้ เช่น การ log in เข้าสู่เว็บไซต์
                        การยืนยันตัวตน
                        ทั้งนี้ ท่านไม่สามารถปิดการใช้งานของคุกกี้ประเภทนี้ผ่านระบบของเว็บไซต์ของเราได้
                    </div>
                </div>
                <div class="cookie-setting__item">
                    <div class="cookie-setting__body">
                        <a class="btn btn-light" @click="onSave()" href="javascript:;" target="_self">บันทึกการตั้งค่า</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ga :cookie-performance="cookiePerformance" tracking=""></ga>
    <gtm :cookie-performance="cookiePerformance" tracking=""></gtm>
    <piwik :cookie-performance="cookiePerformance" tracking=""></piwik>

</div>