
/* Base */

body, 
body *:not(html):not(style):not(br):not(tr):not(code) {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 14px;
    box-sizing: border-box;
}

body {
    background-color: $body-bg-color;
    color: #74787E;
    height: 100%;
    hyphens: auto;
    line-height: 1.5;
    margin: 0;
    -moz-hyphens: auto;
    -ms-word-break: break-all;
    width: 100% !important;
    -webkit-hyphens: auto;
    -webkit-text-size-adjust: none;
    word-break: break-all;
    word-break: break-word;
}

p,
ul,
ol,
blockquote {
    line-height: 1.5;
    margin: 0;
}

a {
    color: $email-link-color;
}

