
.wrapper {
    background-color: $body-bg-color;
    margin: 0;
    padding: 0;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.header {
    background-color: $table-header-bg-color;
    text-align: center;

    &__logo {
        min-height: 60px;
        width: auto;
        padding: 40px 0 10px 0;
        margin-bottom: 30px;
    }
}

.content {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 570px;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 570px;
}


.footer {
    background-color: $table-footer-bg-color;
    margin: 0;
    padding: 0;
    width: 570px;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 570px;
}

