$body-bg-color:                     #E6E6E6;

$table-bg-color:                    #FFF;
$table-header-bg-color:             #FFF;
$table-header-color:                #FFF;

$table-footer-bg-color:             #9B9B9B;
$table-footer-color:                #FFF;

$email-link-color:                  #9B9B9B;
$email-telephone-link-color:        #FFF;