<section>
    <div class="container">

        <div class="row">
            <div class="col-12">

                <h4>Filter Dates</h4>
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-group--search">
                                <input type="text" class="datepicker form-control" placeholder="From" id="startDate" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="datepicker form-control" placeholder="To" id="endDate" readonly>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="form-group">
                                <input type="hidden" name="date_start" value="" readonly>
                                <input type="hidden" name="date_end" value="" readonly>
                                <button type="submit" class="btn btn--primary">View Result</button>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>

            <div class="col-12">
                <div class="my-4">Historical price from : <strong>Jan 29, 2018</strong> to <strong>Apr 26, 2018</strong></div>

                <div class="table-responsive">
                    <table class="table table--historical-price">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Open</th>
                                <th>High</th>
                                <th>Low</th>
                                <th>Close</th>
                                <th>Volume (Shares)</th>
                                <th>Value (Baht)</th>
                            </tr>
                        </thead>
                        <tbody>                         
                            <tr class="table__headline">
                                <td colspan="7">Summary</td>
                            </tr>
                            <tr>
                                <td>Recent 2 weeks<br> (13/06/2018 to 26/06/2018)</td>
                                <td>7.90</td>
                                <td>8.45</td>
                                <td>7.85</td>
                                <td>8.25</td>
                                <td>40,733,400</td>
                                <td>336,525,740</td>
                            </tr>
                            <tr>
                                <td>Previous 4 weeks<br> (15/05/2018 to 12/06/2018)</td>
                                <td>6.80</td>
                                <td>8.10</td>
                                <td>6.80</td>
                                <td>7.90</td>
                                <td>42,048,300</td>
                                <td>315,990,760</td>
                            </tr>                       
                            
                            <tr class="table__headline">
                                <td colspan="7">Daily Historical Data</td>
                            </tr>
                            <tr>
                                <td>20 Jun 2019</td>
                                <td>3.28</td>
                                <td>3.28</td>
                                <td>3.20</td>
                                <td>3.20</td>
                                <td>37,624,300</td>
                                <td>121,196,504</td>
                            </tr>
                            <tr>
                                <td>19 Jun 2019</td>
                                <td>3.26</td>
                                <td>3.28</td>
                                <td>3.22</td>
                                <td>3.24</td>
                                <td>57,707,000</td>
                                <td>187,835,852</td>
                            </tr>
                            <tr>
                                <td>18 Jun 2019</td>
                                <td>3.22</td>
                                <td>3.24</td>
                                <td>3.18</td>
                                <td>3.22</td>
                                <td>31,365,100</td>
                                <td>100,815,730</td>
                            </tr>
                            <tr>
                                <td>17 Jun 2019</td>
                                <td>3.18</td>
                                <td>3.26</td>
                                <td>3.18</td>
                                <td>3.22</td>
                                <td>73,867,700</td>
                                <td>238,271,462</td>
                            </tr>
                            <tr>
                                <td>14 Jun 2019</td>
                                <td>3.12</td>
                                <td>3.20</td>
                                <td>3.10</td>
                                <td>3.18</td>
                                <td>117,584,500</td>
                                <td>370,424,322</td>
                            </tr>
                            <tr>
                                <td>13 Jun 2019</td>
                                <td>2.98</td>
                                <td>3.08</td>
                                <td>2.98</td>
                                <td>3.08</td>
                                <td>60,350,000</td>
                                <td>183,438,746</td>
                            </tr>
                            <tr>
                                <td>12 Jun 2019</td>
                                <td>3.00</td>
                                <td>3.02</td>
                                <td>2.96</td>
                                <td>2.98</td>
                                <td>20,964,100</td>
                                <td>62,686,280</td>
                            </tr>     
                        </tbody>
                    </table>
                </div>

                <p>Remark : Volume from SET main board.</p>

            </div>

        </div>
    </div>
</section>