<section>
    <div class="container">
        <div class="row mb-4">
            <div class="col-12">
                <form action="">
                    <div class="form-row">
                        <div class="col-12 col-sm-8 col-xl-6 mb-2 mb-sm-0">
                            <div class="form-group mb-0">
                                <input type="hidden" name="cx" value="">
                                <input type="hidden" name="hl" value="">
                                <input type="text" name="q" class="form-control" placeholder="Search" value="">
                            </div>
                        </div>
                        <div class="col-sm-4 col-xl-3">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Result applys here -->
            </div>
        </div>
    </div>
</section>