<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav--sitemap">

                    <li class="nav-item nav-item--single">
                        <a class="nav-link" href="javascript:;" target="_self">Home</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" target="_self">
                            Company Info
                        </a>


                        <ul class="nav nav__lv-2">

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">General
                                    Information</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Nature of
                                    Business</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Business
                                    Structure</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Company's
                                    History</a></li>


                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Message from
                                    CEO</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Vision &amp;
                                    Mission</a></li>


                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Organization
                                    Chart</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Board of
                                    Directors</a></li>


                            <li class="nav-item">
                                <a class="nav-link" href="javscript:;">
                                    Sub-Committees
                                </a>
                                <ul class="nav nav__lv-3">

                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:;" target="_self">Executive Committee
                                        </a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:;" target="_self">Audit Committee
                                        </a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:;" target="_self">Risk Management Committee
                                        </a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:;" target="_self">Nomination &amp;
                                            Remuneration Committee
                                        </a>
                                    </li>


                                </ul>
                            </li>


                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Management
                                    Team</a></li>


                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Sustainable
                                    Development</a></li>


                        </ul>
                    </li>






                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" target="_self">
                            Financial Info
                        </a>


                        <ul class="nav nav__lv-2">

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Financial
                                    Highlights</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Financial
                                    Statements</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Management
                                    Discussion and Analysis</a></li>

                        </ul>
                    </li>






                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" target="_self">
                            Stock Info
                        </a>


                        <ul class="nav nav__lv-2">

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Stock Quote</a>
                            </li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Historical
                                    Price</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Investment
                                    Calculator</a></li>


                        </ul>
                    </li>






                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" target="_self">
                            Shareholder Info
                        </a>


                        <ul class="nav nav__lv-2">

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Major
                                    Shareholders</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Dividend Policy
                                    &amp; Payment</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Shareholders'
                                    Meetings</a></li>


                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Right of
                                    Shareholder</a></li>


                            <li class="nav-item">
                                <a class="nav-link" href="javscript:;">
                                    IR Calendar
                                </a>
                                <ul class="nav nav__lv-3">


                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:;" target="_self">Upcoming Events
                                        </a>
                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:;" target="_self">Rights &amp; Benefits
                                        </a>
                                    </li>


                                </ul>
                            </li>


                        </ul>
                    </li>






                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" target="_self">
                            Corporate Governance
                        </a>


                        <ul class="nav nav__lv-2">

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Corporate
                                    Governance Policy</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Corporate Policy
                                    and Document</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Whistleblowing
                                    Channel</a></li>
                        </ul>
                    </li>






                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" target="_self">
                            IR Materials
                        </a>


                        <ul class="nav nav__lv-2">


                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Prospectus</a>
                            </li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Annual
                                    Report</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Form 56-1</a>
                            </li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Company
                                    Factsheet</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Presentations
                                    and Webcasts</a></li>


                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Investor
                                    Kits</a></li>

                        </ul>
                    </li>






                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" target="_self">
                            Newsroom
                        </a>


                        <ul class="nav nav__lv-2">

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">SET
                                    Announcements</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">IR Press
                                    Releases</a></li>
                        </ul>
                    </li>






                    <li class="nav-item">
                        <a class="nav-link" href="javascript:;" target="_self">
                            Information Inquiry
                        </a>


                        <ul class="nav nav__lv-2">

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">IR Contact</a>
                            </li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Email Alert</a>
                            </li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Analyst
                                    Coverage</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">FAQ</a></li>

                            <li class="nav-item"><a href="javascript:;" target="_self" class="nav-link">Code of Conduct
                                    for Investor Relations Officers
                                    (IROs)</a></li>

                        </ul>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</section>